/* Navbar*/
.bg-light{
  background-color:rgb(11, 12, 16) !important;
}
.navbar-brand, .nav-link {
  color: white !important;
}

/* Info Block */
.box{
  background-color:rgb(11, 12, 16) !important;
  text-align: center;
  margin-bottom: 20px
}

/* Jumbotron */
.jumbotron {
  background-image: url("heart.jpg") !important; 
  background-size: cover ; 
  color: white;
}

*{
  box-sizing:border-box;
}

/* 1st tableau */
.tableauPlaceholder1{
  float:left !important;
  flex-direction: column !important;
  margin-left: 3% !important;
  border: 5px solid black;
  margin-bottom: 3%;
}

/* 2nd tableau */
.tableauPlaceholder2{
  float:left !important;
  flex-direction: column !important;
  margin-left: 3% !important;
  border: 5px solid black;
  margin-bottom: 3%;
}

/* 3rd Tableau */
.tableauPlaceholder3 {
  flex-direction: column !important;
  margin-left: 4% !important;
  margin-bottom: 4% !important;
  padding: 3px;
  border: 5px solid black;
  background-color: white;
}

/* Remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
  background-color: rgb(202, 92, 92) ;
  max-width: 100%;
  overflow-x: hidden
}

/* Headers */
h1 {
  margin-top:0px;
  padding-top: 0px;
  color: white;
}

h2, h4{
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: white;
}

/* Paragraphs */
p{
  color: white;
  text-align:center;
  padding-right: 8%;
  padding-left: 8%;
}

/* Key Container For Graphs */
.key-container {
  position: sticky;
  top: 100px;
  display: inline-block;
  width: 30%;
  margin-left: 8%;
  vertical-align: top;
  color: white;
  background-color:rgb(11, 12, 16) !important;
  text-align: center
}
/* Key Table */
table, th, td {
  border: 1px solid white;  
}

/* Key Table */
.key-table{
  margin-left:10px;
  margin-bottom: 10px;
  margin-right: 10px
}

/* Table Bold Divider */
table tr td:nth-of-type(2), table tr th:nth-of-type(2) {
  border-width: 1px 4px 1px 1px;
}

/* Column for Tableau Graphs */
.column-two {
  display: inline-flex;
  width: 60%;
  flex-direction: column
}

/* ---Summary & Extra Page --- */
/* Graphs Container */
.summary-tables{
  display: inline-flex;
  width: 60%;
  flex-direction: column;
}

/* Images */
img{
  width:99%;
  margin-bottom: 2%;
  border: 5px solid black;
}

.img2{
  width:85%;
  background-color:white;
  border: 5px solid black;
}

/* ---Extra Page Only--- */
/* Text Box */
.extra{
  margin-top:1%;
  margin-bottom:3%;
}
